<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre_id %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @movie.actor_id %>
</p>

<p>
  <strong>Tmeter:</strong>
  <%= @movie.tmeter %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @movie.poster %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
