<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
